@model List<MenuItem>

@{
    ViewData["Title"] = "Menu";
}

<h1 class="main-font">@ViewData["Title"]</h1>

@if (Model != null)
{
    <h2>Entrees</h2>
    @foreach (var menuItem in Model)
    {   
        if(menuItem.IsAvailable && menuItem.Category == "Entree")
        {
            <h3>@menuItem.Name</h3>
            <p>@menuItem.Description</p>
            <p>$@menuItem.Price</p>
        }
    }

    <h2>Side dishes</h2>
    @foreach (var menuItem in Model)
    {
        if (menuItem.IsAvailable && menuItem.Category == "Side dish")
        {
            <h3>@menuItem.Name</h3>
            <p>@menuItem.Description</p>
            <p>$@menuItem.Price</p>
        }
    }
}
else
{
    <p>There are no dishes on the menu.</p>
}
